extends ../common/layout

block bodyheader
  div.segment
    div.container
      div.inverted.pull-right
        a.ui.blue.large.labeled.button(href='/user/signin') Sign in
      div.introduction
        h1.ui.dividing.header Password Reset
        p(class='lead') Get back to Circuit+

block content
  div.reset-board
    form.ui.form.segment#reset_form(autocomplete='on', action='/user/password/reset', method='POST')
      div.field
        a.ui.image.label(href='/user/#{user['uid']}', target='_blank')
          if (user['avatar_url'])
            img(src=user['avatar_url'])
          else
            img(src='/static/img/user/def-avatar.png')
          = user['username']
      div(style='display:none')
        input(type='hidden', name='formhash', value=_G['formhash'])
        input(type='hidden', name='hash', value=user['hash'])
        input(type='hidden', name='uid', value=user['uid'])
        if (redirect_url)
          input(type='hidden', name='redirect_url', value=redirect_url)
      div.field(class=($err['password'] ? 'error' : ''))#password
        label Password
        div.ui.left.labeled.icon.input
          input(type='password', id='reset-password1', name='user[password1]', tabindex='2')
          i.icon.lock
          div.ui.corner.label
            i.icon.asterisk
      div.field(class=($err['password'] ? 'error' : ''))#password
        label Repeat Password
        div.ui.left.labeled.icon.input
          input(type='password', id='reset-password2', name='user[password2]', tabindex='2')
          i.icon.lock
          div.ui.corner.label
            i.icon.asterisk
        if (err['password'])
          div.ui.red.pointing.above.ui.label= err.msg
      div.ui.blue.submit.button#btnsubmit(class='btn btn-primary', tabindex='3', onclick='check_reset();') Reset

block script
  script(type='text/javascript').
    function check_reset() {
      var form = $('#reset_form');
      var checkPass = true;

      var fieldPassword = form.find('.field#password');
      var inputPassword = fieldPassword.find('input');

      if (inputPassword.length != 2
        || !$(inputPassword[0]).val() || !$(inputPassword[1]).val()
        || $(inputPassword[0]).val() != $(inputPassword[1]).val()) {
        fieldPassword.addClass('error');
        checkPass = false;
      } else {
        fieldPassword.removeClass('error');
      }

      if (checkPass) {
        form.submit();
      }
    }